body {
	background-color: #444444
}
body{
	color: #ffffff
}
body{
	font-family: "Times New Roman"
}
body{
	font-style: oblique
}
body{
	text-align: center
}
body{
	margin: 10px
}
body{
	padding: 15px 
}
p{
	text-align: left
}
.useful{
	color: #ffff00
}

#test{
	color: #ff00ff
} 
a{
	color: #00ff00
}
li{
	text-align: left
}
