<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}" type="text/css"/>
        <title>About Peter Allen</title>
    </head>

    <body>
		<img src="{% static 'blog/Client.png' %}" alt="Portrait of Peter Allen">
		
		<p> Peter allen was born on earth at {{ time }}. He was a key asset to the federation during the Anartic War. He is mostly known for using cold fusion to create hot superconductors and integrating the technology into federation spacecraft. Despite his great acomplishments, Peter defected from the federation year 3 years later, citing philisophical difference regarding neutrality in The Great War. Now he just writes a crappy blog in latin. </p>
		<p>Peter enjoys</p>
		<ul class=lists> 
		<li>Biking</li>

		<li>Pizza</li>
		
		<li>Spending time with his pet rabbit, Jeff</li>
		
		</ul> <img src="{% static 'blog/bike.jpeg' %}" alt="cool bike"> <img src="{% static 'blog/pizza.jpeg' %}" alt="pizza"> <img src="{% static 'blog/jeff.jpeg' %}" alt="Jeff"> 
<p></p>		

<a href="./" > my Blog </a>
<p></p>
<a href="techtips" > tech tips </a> 

    </body>
</html>
