<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <title>Git</title>
    </head>

    <body>
    <h2>Tips accessed at: {{ time }}</h2>
    <h1> Git Tips </h1> 
    <ol>
    	<li> status: displays the status, useful to determine if already in git repo before initializing. [git status] </li>
		<li> init: creates new git repo in current directory. [git init] </li>
		<li class="useful"> add: tells git to keep track of a file. [git add "file name"] </li>
		<li> config: used to configure git, mainly to list your name and email on commits. [git config --set user.name "your name"] </li>
		<li class="useful"> commit: finalized changes. [git commit -m "commit message"] </li>
		<li> remote: used to manage files not directly in the git repo [git remote add "remote file"] </li>
		<li> push: sends git repo to a remote location, like the homework server [git push "server name"]</li>
		<li> log: prints a record of all git commits to the console [git log] </li>
    </ol>

    <h1> Bash Tips </h1> 
	<ol>
		<li class="useful"> ls: displays contents of directory [ls -a] </li> 
		<li class="useful"> cd: changes directory [cd ~/Documents] </li>
		<li class="useful"> rm: deletes a file [sudo rm -r *] </li>
	</ol> 

    <h1> HTML Tips </h1> 
    <ol>
    	<li>title: sets the name of the tab in the browser</li>
    	<li>h1: first and largest header </li>
    	<li>h2: second and second largest header</li>
    	<li>p: paragraph</li>
    	<li>code: use for displaying code</li>
    	<li>a: anchor, used to create hyperlinks to other webpages</li>
    	<li>img: used to insert images </li>
    	<li>ol: used to start/end ordered lists</li>
    	<li>ul: used to start/end unordered lists</li>
    	<li>li: used to make an item in a list</li>
    </ol>

    <h1> CSS Tips </h1> 
    <ol>
	    <li>background-color: makes the background not white, use hex-codes</li>
		<li>color: makes the text not black, use hex-codes</li>
		<li>font-family: specifies the font</li>
		<li>font-style: makes the font italic or oblique</li>
		<li>text align: changes text alignment</li>
		<li>margin: specifies how close an object can be to the edge of the page</li>
		<li>padding: specifies how close other objects can get</li>
    </ol>
    
<a href="about.html" > about the author </a> 
<p></p>
<a href="index.html" > my Blog </a>

    </body>

</html>
